@page "/"

<AuthorizeView>
   <Authorized>
        <ClientLibrary.Pages.StartStopWorkPage></ClientLibrary.Pages.StartStopWorkPage>
    </Authorized>
    <NotAuthorized>
        <h3>Welcome to the Work Tracker App</h3>
        <br />
        You start by creating a new Employer. (You might have to click the create button 2 times before it registres, followed by a refresh of the page)
        <br />
        Then you can create new entries under the Start Stop page, and create invoices on the Invoices page.
    </NotAuthorized>
</AuthorizeView>

